{% extends "mobile/package/package.html" %}
{% load i18n staticfiles %}
{% block title %}{% blocktrans with package_info.c_name as c_name %}History {{ c_name }} | DCRM{% endblocktrans %}{% endblock %}
{% block content %}
    {% for version in version_list %}
        <label>
            <p>{{ version.created_at | date:"Y-m-d H:i:s" }}</p>
        </label>
        <fieldset class="changelog">
            <div>
                <div>
                    <label>
                        <strong>
                            <p>
                                {{ version.c_version }}
                            </p>
                        </strong>
                    </label>
                    <p>{{ version.update_logs }}</p>
                </div>
            </div>
            <a href="{% url "package_id" version.id %}">
                <img class="icon" src="{% static "mobile/img/changelog.png" %}">
                <div>
                    <div>
                        <label>
                            <p>
                                {% trans "View this version" %}
                            </p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endfor %}
{% endblock %}
