{% extends "mobile/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% blocktrans with package_info.c_name as c_name %}Package {{ c_name }} | DCRM{% endblocktrans %}{% endblock %}
{% block content %}
    <fieldset id="cydialink">
        <a href="cydia://url/https://cydia.saurik.com/api/share#?source={{ request.scheme }}://{{ site }}/?package={{ package_info.c_package }}"
           target="_blank">
            <img class="icon" src="{% static "mobile/img/cydia.png" %}">
            <div>
                <div>
                    <label>
                        <p>{% trans "View in Cydia<sup><small>™</small></sup>" %}</p>
                    </label>
                </div>
            </div>
        </a>
    </fieldset>
    <div id="header">
        {% if package_info.display_icon %}
            <img id="icon" src="{{ package_info.display_icon }}"/>
        {% else %}
            <img id="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
        {% endif %}
        <div id="content">
            <p id="name">{{ package_info.c_name|default:"Untitled Package" }}</p>
            <p id="latest">{{ package_info.c_version }}</p>
            {% if package_info.c_installed_size == 0 %}
                <div id="extra">
                    <p>{{ package_info.c_installed_size_in_bytes|filesizeformat }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% if package_info.author_email and package_info.author_name %}
        <fieldset id="contact">
            <a href="{% url "package_action" package_info.id "contact" %}">
                <img class="icon" src="{% static "mobile/img/email.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Author" %}</p>
                        </label>
                        <label class="detail">
                            <p id="contact">{{ package_info.author_name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    {% if not settings.download_cydia_only %}
        <fieldset id="downloadlink">
            <a href="{{ package_info.frontend_link }}" id="downloadlink" target="_blank">
                <img class="icon" src="{% static "mobile/img/package.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Download" %}</p>
                        </label>
                        <label class="detail">
                            <p>
                                {{ package_info.c_size|filesizeformat }}
                            </p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    <fieldset id="compatibility" style="background-color:#66B3FF">
        <div>
            <p>
                <span style='color:white'></span>
            </p>
        </div>
    </fieldset>
    <block>
        <p>
            {% trans "Version" %}: <strong>{{ package_info.c_version }}</strong>
            {% if settings.download_count %}
                | {% trans "Download Times" %}: <strong>{{ package_info.download_times }}</strong>
            {% endif %}
        </p>
        <p>{% trans "Last Updated" %}: <strong>{{ package_info.created_at | date:"Y-m-d H:i:s" }}</strong></p>
        {% if package_info.c_description %}
            <hr/>
            <p>{{ package_info.c_description }}</p>
        {% endif %}
    </block>
    {% if package_info.rich_description or gallery %}
        <fieldset>
            <div>
                {% if package_info.rich_descrition %}
                    <div id="rich_description">
                        {% autoescape off %}
                            <p>{{ package_info.rich_description }}</p>
                        {% endautoescape %}
                    </div>
                    <hr/>
                {% endif %}
                {% if gallery %}
                    <div class="screenshot">
                        <h2>{% trans "Preview" %}</h2>
                        <div class="image-wrapper">
                            <ul>
                                {% for photo in gallery.public %}
                                    <li>
                                        <img src="{{ photo.get_display_url }}" alt="{{ photo.title }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </fieldset>
    {% endif %}
    {% if package_info.c_homepage %}
        <fieldset>
            <a href="{{ package_info.c_homepage }}" target="_blank">
                <img class="icon" src="{% static "mobile/img/safari.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "More Info" %}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    {% if package_info.update_logs or settings.version_history %}
        <label>{% trans "Change Log" %}</label>
        <fieldset>
            {% if package_info.update_logs %}
                <div>
                    <div>
                        <label>
                            <strong>
                                <p>
                                    {{ package_info.c_version }}
                                </p>
                            </strong>
                        </label>
                        <p>{{ package_info.update_logs }}</p>
                    </div>
                </div>
            {% endif %}
            {% if settings.version_history %}
                <a href="{% url "package_action" package_info.id "history" %}" id="historylink">
                    <img class="icon" src="{% static "mobile/img/changelog.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{% trans "History" %}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
        </fieldset>
    {% endif %}
    {% if settings.display_social %}
        <label>{% trans "Support" %}</label>
        <fieldset>
            {% if settings.qq_group_name and settings.qq_group_url %}
                <a href="{{ settings.qq_group_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/qq.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{{ settings.qq_group_name }}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.weibo_name and settings.weibo_url %}
                <a href="{{ settings.weibo_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/weibo.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{{ settings.weibo_name }}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.alipay_url %}
                <a href="{{ settings.alipay_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/alipay.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>
                                    {% trans "Donate via Alipay" %}
                                </p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
        </fieldset>
    {% endif %}
    {% if settings.enable_comments %}
        <fieldset>
            <div id="foldcomments">
                <p><span class="cmsswitch" style="display: inline;">{% trans "Fold Comments" %}</span></p>
            </div>
            <div class="comments" id="comments">
                {% load comments static threadedcomments_tags %}
                <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}"/>
                <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
                {% render_comment_list for object %}
                {% render_comment_form for object %}
            </div>
        </fieldset>
    {% endif %}
{% endblock %}
{% block footerscript %}
    <script type="text/javascript">
    $(function () {
        // In Cydia
        if(navigator.userAgent.search(/Cydia/)!=-1) {
            $('#header').hide();
            $('#cydialink').hide();
            $('#contact').hide();
            $('#downloadlink').hide();
            $('#id').hide()
        }

        var width = $('#compatibility').width();
        width = width-30
        $('.image-wrapper').css('max-width',width+'px');

        var comments = $("#comments");
        var cmsswitch = $(".cmsswitch");
        $("#foldcomments").click(function(){
            cmsswitch.fadeOut(400);
            if(comments.css("display")=="none"){
                comments.slideDown(800);
                setTimeout(function(){cmsswitch.html('{% trans "Fold Comments" %}').fadeIn(400);}, 400);
            } else {
                comments.slideUp(800);
                setTimeout(function(){cmsswitch.html('{% trans "Unfold Comments" %}').fadeIn(400);}, 400);
            }
        });
        $('.comments textarea').attr('placeholder','{% trans "Say something..." %}');

        var os_compatibility = new Array();
        var version = (navigator.userAgent.match(/.+(?:Version)[\/: ]([\d.]+)/) || [])[1];
        var device = '{{ request.META.HTTP_X_MACHINE | default:"UNDEFINE" }}';
        var device_type = '';
         // Print os compatibility list as an array
        {% for os in package_info.os_compatibility.all %}
           os_compatibility[{{ forloop.counter }}] = '{{ os.descriptor }}';
        {% endfor %}
        // Print device compatibility list as a string
        {% for device in package_info.device_compatibility.all %}
            device_type += '{{ device.subtype }} ';
        {% endfor %}
        // Check os compatibility
        if (device != "UNDEFINE") {
            $('#compatibility').show();
            if ($.inArray(version, os_compatibility) != -1 && device_type.search(device) != -1) {
                $('#compatibility span').html("{% trans 'Your device supports this package' %}");
            } else {
                $('#compatibility span').html("{% trans "Your device doesn't support this package" %}");
            }
        } else {
            $('#compatibility').hide();
        }
    })
    </script>
{% endblock %}
{% block page_name %}{{ package_info.c_package }}<br/>{{ package_info.c_section | default:_("No Section") }}{% endblock %}
