{% extends "mobile/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% blocktrans with package_info.c_name as c_name %}Package {{ c_name }} | DCRM
{% endblocktrans %}{% endblock %}
{% block content %}
    <fieldset id="cydialink">
        <a href="cydia://url/https://cydia.saurik.com/api/share#?source={{ request.scheme }}://{{ site }}/?package={{ package_info.c_package }}"
           target="_blank">
            <img class="icon" src="{% static "mobile/img/cydia.png" %}">
            <div>
                <div>
                    <label>
                        <p>{% trans "View in Cydia<sup><small>™</small></sup>" %}</p>
                    </label>
                </div>
            </div>
        </a>
    </fieldset>
    <div id="header">
        {% if package_info.display_icon %}
            <img id="icon" src="{{ package_info.display_icon }}"/>
        {% else %}
            <img id="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
        {% endif %}
        <div id="content">
            <p id="name">{{ package_info.c_name|default:"Untitled Package" }}</p>
            <p id="latest">{{ package_info.c_version }}</p>
            {% if package_info.c_installed_size == 0 %}
                <div id="extra">
                    <p>{{ package_info.c_installed_size_in_bytes|filesizeformat }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% if package_info.author_email and package_info.author_name %}
        <fieldset id="contact">
            <a href="{% url "package_action" package_info.id "contact" %}">
                <img class="icon" src="{% static "mobile/img/email.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Author" %}</p>
                        </label>
                        <label class="detail">
                            <p id="contact">{{ package_info.author_name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    {% if not settings.download_cydia_only %}
        <fieldset>
            <a href="{{ package_info.frontend_link }}" id="downloadlink" target="_blank">
                <img class="icon" src="{% static "mobile/img/package.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Download" %}</p>
                        </label>
                        <label class="detail">
                            <p>
                                {{ package_info.c_size|filesizeformat }}
                            </p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    <block>
        <p>
            {% trans "Version" %}: <strong>{{ package_info.c_version }}</strong>
            {% if settings.download_count %}
                | {% trans "Downloads" %}: <strong>{{ package_info.download_times }}</strong>
            {% endif %}
        </p>
        <p>{% trans "Last Updated" %}: <strong>{{ package_info.created_at | date:"Y-m-d H:i:s" }}</strong></p>
        {% if package_info.rich_description == '' and package_info.c_description %}
            <hr/>
            <p>{{ package_info.c_description }}</p>
        {% endif %}
    </block>
    {% if package_info.rich_description %}
        <fieldset>
            <div>
                {% autoescape off %}
                    <p>{{ package_info.rich_description }}</p>
                {% endautoescape %}
            </div>
        </fieldset>
    {% endif %}
    {% if package_info.c_homepage %}
        <fieldset>
            <a href="{{ package_info.c_homepage }}" target="_blank">
                <img class="icon" src="{% static "mobile/img/safari.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "More Info" %}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    {% if package_info.update_logs or settings.version_history %}
        <label>{% trans "Change Log" %}</label>
        <fieldset>
            {% if package_info.update_logs %}
                <div>
                    <div>
                        <label>
                            <strong>
                                <p>
                                    {{ package_info.c_version }}
                                </p>
                            </strong>
                        </label>
                        <p>{{ package_info.update_logs }}</p>
                    </div>
                </div>
            {% endif %}
            {% if settings.version_history %}
                <a href="{% url "package_action" package_info.id "history" %}" id="historylink">
                    <img class="icon" src="{% static "mobile/img/changelog.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{% trans "History" %}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
        </fieldset>
    {% endif %}
    {% if settings.display_social %}
        <label>{% trans "Support" %}</label>
        <fieldset>
            {% if settings.qq_group_name and settings.qq_group_url %}
                <a href="{{ settings.qq_group_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/qq.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{{ settings.qq_group_name }}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.weibo_name and settings.weibo_url %}
                <a href="{{ settings.weibo_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/weibo.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{{ settings.weibo_name }}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.alipay_url %}
                <a href="{{ settings.alipay_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/alipay.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>
                                    {% trans "Donate via Alipay" %}
                                </p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
        </fieldset>
    {% endif %}
    <!--fieldset>
        <div id="comments">
            TODO: Comments Module
        </div>
    </fieldset-->
{% endblock %}
{% block page_name %}{{ package_info.c_package }}<br/>{{ package_info.c_section | default:"No Section" }}{% endblock %}
