.DS_Store

# temp files
/temp/

# site resources
/WEIPDCRM/static/
/resources/
/wwwroot/

# IDE configurations
/.idea/

# static files
/static/

# databases
*.sqlite3
*.rdb
*.pyc
*.log
/db/

# server
.user.ini
.well-known

# python virtual environment
/venv/
/envpy3.7/


