{% extends 'admin/new_change_form.html' %}
{% load i18n admin_urls content_type to_slug %}
{% block object-tools-items %}
    <li>
        {% if original.gallery %}
            <a href="{% url 'screenshots_add' original.pk original.gallery.slug %}" target="_blank">
                <i class="fa fa-fw fa fa-upload"></i>{% trans "Upload Screenshot" %}
            </a>
            <a href="{% url 'admin:photologue_gallery_change' original.gallery.pk %}" target="_blank">
                <i class="fa fa-fw fa fa-image"></i>{% trans "Screenshots" %}
            </a>
        {% else %}
            <a href="{% url 'screenshots_add' original.pk original.c_package|to_slug %}" target="_blank">
                <i class="fa fa-fw fa fa-upload"></i>{% trans "Upload Screenshot" %}
            </a>
        {% endif %}
        <a href="{% url 'admin:threadedcomments_threadedcomment_changelist' %}?content_type={{ original|content_type }}&object_pk={{ original.pk }}" target="_blank">
            <i class="fa fa-fw fa fa-comments"></i>{% trans "Comments" %}
        </a>
        <a href="{% url 'admin:WEIPDCRM_version_changelist' %}?c_package__exact={{ original.c_package }}" target="_blank">
            <i class="fa fa-fw fa fa-cube"></i>{% trans "Package" %}
        </a>
    </li>
    {{ block.super }}
{% endblock %}
{% block object-tools %}
    {{ block.super }}
    <ul class="object-tools">
        <li class="heading">{% trans 'Links' %}</li>
        <li>
            <a href="https://manpages.debian.org/jessie/dpkg-dev/deb-control.5.en.html" target="_blank">
                <i class="fa fa-fw fa-link"></i>{% trans 'About Deb-Control' %}</a>
        </li>
        <li>
            <a href="http://www.saurik.com/id/7" target="_blank">
                <i class="fa fa-fw fa-link"></i>{% trans "Saurik's Cydia" %}</a>
        </li>
    </ul>
{% endblock %}
