{% extends "frontend/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Chart' %} | DCRM{% endblock %}
{% block headerscript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'frontend/js/masonry.pkgd.min.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home"></i> <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    <i class="fa fa-angle-right"></i> <a href="{% url 'chart' %}">{% trans 'Chart' %}</a>
{% endblock %}
{% block content %}
     <div class="content-list">
        <div class="title"><h2>{% trans 'Chart' %}</h2></div>
        {% include 'frontend/grid-list.html' %}
        <div class="clear"></div>
    </div>
{% endblock %}