{% extends "frontend/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Index' %} | DCRM{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home"></i> <a href="{% url 'index' %}">{% trans 'Home' %}</a>
{% endblock %}
{% block content %}
    <div class="content-list">
        <div class="title"><h2>{% trans "Package List" %}</h2></div>
        {% include 'frontend/grid-list.html' %}
        <div class="clear"></div>
        {% include 'frontend/pagination-index.html' %}
    </div>
{% endblock %}
