{% extends "frontend/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans "Package" %} {{ package_info.c_name | default:_("Untitled Package") }} | DCRM{% endblock %}
{% block headerscript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'frontend/js/masonry.pkgd.min.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home"></i> <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% if package_info.c_section %}
        <i class="fa fa-angle-right"></i>
        <a href="{% url "section_id" package_info.c_section.id %}">{{ package_info.c_section }}</a>
    {% endif %}
    <i class="fa fa-angle-right"></i> {{ package_info.c_name | default:_("Untitled Package") }}
{% endblock %}
{% block content %}
    <div class="article">
        <div class="icon">
            {% if package_info.display_icon %}
                <img class="icon" src="{{ package_info.display_icon }}"/>
            {% else %}
                <img class="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
            {% endif %}
        </div>
        <div class="intro">
            <div class="title"><h1>{{ package_info.c_name | default:_("Untitled Package") }}</h1></div>
            <div class="details">
                <ul>
                    <li>{% trans "Package" %}: {{ package_info.c_package }}</li>
                    <li>{% trans "Version" %}: {{ package_info.c_version }}</li>
                    {% if package_info.c_section %}
                        <li>{% trans "Section" %}: {{ package_info.c_section }}</li>
                    {% endif %}
                    <li>{% trans "Size" %}: {{ package_info.c_size|filesizeformat }}</li>
                    {% if package_info.author_name %}
                        <li>{% trans "Author" %}: {{ package_info.author_name }}</li>
                    {% endif %}
                </ul>
                <div class="clear"></div>
            </div>
            {% if not settings.download_cydia_only %}
                <div class="download">
                    <a rel="nofollow" href="{{ package_info.frontend_link }}" id="downloadlink"
                       target="_blank">{% trans "Download" %}
                        {% if settings.download_count %}
                            <br/>{{ package_info.download_times }}
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="clear"></div>
        <div class="description">
            <h2>{% trans "Description" %}</h2>
            <p>
                {% if package_info.rich_description %}
                    {% autoescape off %}
                        {{ package_info.rich_description }}
                    {% endautoescape %}
                {% else %}
                    {{ package_info.c_description | default:_("No description.") }}
                {% endif %}
            </p>
        </div>
        {% if package_info.update_logs %}
            <div class="whatsnew">
                <h2>{% trans "What's New" %}</h2>
                <p>
                    {{ package_info.update_logs }}
                </p>
            </div>
        {% endif %}
        <div class="screenshot">
            <h2>{% trans "Screenshot" %}</h2>
            <div class="image">
                <div class="image-wrapper">
                    <ul>
                        <!-- TODO: Screenshot Module -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="similar">
            <!-- TODO: Similar Package Module -->
        </div>
    </div>
    {% if settings.comments %}
        <div class="comments">
            <h2>{% trans "Comments" %}</h2>
            <div id="comments">
                <!--TODO: Comments Module-->
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block latest_comments %}
{% endblock %}
