{% extends "frontend/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% blocktrans with package_info.c_name as c_name %}Package {{ c_name }} | DCRM{% endblocktrans %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="article">
            <div class="icon">
                {% if package_info.display_icon %}
                    <img class="icon" src="{{ package_info.display_icon }}"/>
                {% else %}
                    <img class="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
                {% endif %}
            </div>
            <div class="intro">
                <div class="title"><h1>{{ package_info.c_name }}</h1></div>
                <div class="details">
                    <ul>
                        <li>{% trans "Package" %}: {{ package_info.c_package }}</li>
                        <li>{% trans "Version" %}: {{ package_info.c_version }}</li>
                        <li>{% trans "Size" %}: {{ package_info.c_size|filesizeformat }}</li>
                        <li>{% trans "Author" %}: {{ package_info.author_name }}</li>
                        <li>{% trans "Section" %}: {{ package_info.c_section }}</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!-- Notice: I have edited css style here. -->
                <div class="download">
                    <!-- Notice: Use storage_link instead of storage for frontend use! -->
                    <a rel="nofollow" href="{{ package_info.storage_link }}" id="downloadlink"
                       target="_blank">{% trans "Download" %}<br />{{ package_info.download_times }}</a>
                </div>
            </div>
            <div class="clear"></div>
            <h2>{% trans "Description" %}</h2>
            <div class="description">
                <p>
                    {{ package_info.c_description }}
                </p>
            </div>
            <h2>{% trans "What's New" %}</h2>
            <div class="whatsnew">
                <p>
                    {{ package_info.update_logs }}
                </p>
            </div>
            <h2>{% trans "Screenshot" %}</h2>
            <div class="screenshot">
                <div class="image-wrapper">
                    <!-- TODO: Screenshot Module -->
                </div>
            </div>
            <div class="similar">
                <!-- TODO: Similar Package Module -->
            </div>
            <h2>{% trans "Comments" %}</h2>
            <div class="comment">
                <div id="comments">
                    <!-- TODO: Duoshuo Comment Module -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
