{% extends "frontend/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Search' %} | DCRM{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home"></i> <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    <i class="fa fa-angle-right"></i> <a href="{% url 'chart' %}">{% trans 'Search' %}</a>
    <i class="fa fa-angle-right"></i> {{ request }}
{% endblock %}
{% block content %}
    <div class="content-list">
        <div class="title"><h2>{% trans 'Search Result' %}</h2></div>
        {% include 'frontend/grid-list.html' %}
        <div class="clear"></div>
    </div>
{% endblock %}
