{% extends "frontend/base.html" %}
{% load i18n staticfiles %}
{% block headerscript %}
    <script src="{% static 'frontend/js/masonry.pkgd.min.js' %}"></script>
{% endblock %}
{% block title %}{% trans 'Section' %} {{ package_list.0.c_section.name }} | DCRM{% endblock %}
{% block content %}
    <div class="content">
        <div class="title"><h2>{{ package_list.0.c_section.name }}</h2></div>
        {% include 'frontend/grid-list.html' %}
        <div class="clear"></div>
        {% include 'frontend/pagination.html' %}
    </div>
{% endblock %}
