{% extends "home/base.html" %}
{% load i18n %}
{% block content %}
<div class="content">
  <div class="article">
    <div class="icon"><img class="icon" src="" /></div>
    <div class="intro">
      <div class="title"><h1>{{ package_info.c_name }}</h1></div>
      <div class="details">
        <ul>
          <li>{% trans "Version" %}: {{ package_info.c_version }}</li>
          <li>{% trans "Size" %}: {{ package_info.c_size }}</li>
          <li>{% trans "Author" %}: {{ package_info.author_name }}</li>
          <li>{% trans "Section" %}: {{ package_info.c_section }}</li>
          <li>{% trans "Downloads" %}: {{ package_info.download_times }}</li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="download"><a rel="nofollow" href="/{{ package_info.storage }}" id="downloadlink" target="_blank">{% trans "Download" %}</a></div>
    </div>
    <div class="clear"></div>
    <h2>{% trans "Description" %}</h2>
    <div class="description">
      <p>{{ package_info.c_description }}</p>
    </div>
    <div class="whatsnew"><!-- Exciting...--></div>
      <h2>{% trans "Screenshot" %}</h2>
    <div class="screenshot">
      <div class="image-wrapper">
        <ul>
          <li><img src=""/></li>
        </ul>
      </div>
    </div>
    <div class="similar">
    </div>
    <h2><h2>{% trans "Comments" %}</h2></h2>
    <div class="comment">
        <div id="comments">
          <div class="ds-thread" data-thread-key="" data-title="" data-url=""></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
