{% load staticfiles %}
<div class="list grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
    {% for package in package_list %}
        <div class="list-item grid-item">
            <div class="icon">
                <a href="{% url "package_id" package.id %}">
                    {% if package.display_icon %}
                        <img src="{{ package.display_icon }}"/>
                    {% else %}
                        <img src="{% static 'img/default-package-icon.png' %}"/>
                    {% endif %}
                </a>
            </div>
            <div class="title-tag">
                <div class="title">
                    <a href="{% url "package_id" package.id %}">{{ package.c_name | default:_("Untitled Package") }}</a>
                </div>
                <div class="tag">
                    {% if package.c_section %}
                        <a href="{% url "section_id" package.c_section.id %}">{{ package.c_section | default:_("No section") }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>