{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Search' %}{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home"></i> <a href="{% url 'index' %}">{% trans 'Home' %}</a>
    <i class="fa fa-angle-right"></i> {% trans 'Search Result' %}
{% endblock %}
{% block content %}
    <div class="content-list">
        {% trans "Search" as the_title %}
        <div class="title"><h2>{{ the_title }} {{ request }}</h2></div>
        {% include 'grid-list.html' %}
        <div class="clear"></div>
    </div>
{% endblock %}
