{% extends "admin/change_list.html" %}

{% load admin_static jquery_path django_rq i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% get_jquery_path as jquery_path %}{% static jquery_path %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            $("tr input.action-select").actions();
        });
    })(django.jQuery);
    </script>
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'rq_home' %}">{% trans 'Django RQ' %}</a> &rsaquo;
        <a href = "{% url 'rq_jobs' queue_index %}">{{ queue.name }}</a>
    </div>
{% endblock %}

{% block content_title %}<h1>{% blocktrans with queue_name=queue.name %}{{ job_status }} jobs in {{ queue_name }}{% endblocktrans %}</h1>{% endblock %}

{% block content %}

<div id="content-main">
    <ul class="object-tools">
        {% if queue.name == 'failed' %}
            <li><a href="{% url 'rq_requeue_all' queue_index %}" class="requeuelink">{% trans 'Requeue All' %}</a></li>
        {% endif %}
        <li><a href="{% url 'rq_clear' queue_index %}" class="deletelink">{% trans 'Empty Queue' %}</a></li>
    </ul>
    <div class="module" id="changelist">
        <form id="changelist-form" action="{% url 'rq_actions' queue_index %}" method="post">
            {% csrf_token %}
            <div class="actions">
                <label>{% trans 'Actions:' %}
                    <select name="action">
                        <option value="" selected="selected">---------</option>
                        <option value="delete">{% trans 'Delete' %}</option>
                        {% if queue.name == 'failed' %}
                            <option value="requeue">{% trans 'Requeue' %}</option>
                        {% endif %}
                    </select>
                </label>
                <button type="submit" class="button" title="Execute selected action" name="index" value="0">{% trans 'Go' %}</button>
            </div>
            <div class="results">
                <table id="result_list">
                    <thead>
                        <tr>
                            <th scope="col" class="action-checkbox-column">
                                <div class="text">
                                    <span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span>
                                </div>
                                <div class="clear"></div>
                            </th>
                            <th><div class = 'text'><span>{% trans 'ID' %}</span></div></th>
                            <th><div class = 'text'><span>{% trans 'Created' %}</span></div></th>
                            <th><div class = 'text'><span>{% trans 'Enqueued' %}</span></div></th>
                            <th><div class = 'text'><span>{% trans 'Status' %}</span></div></th>
                            <th><div class = 'text'><span>{% trans 'Callable' %}</span></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                            <tr class = "{% cycle 'row1' 'row2' %}">
                                <td class="action-checkbox">
                                    <input class="action-select" name="_selected_action" type="checkbox" value="{{ job.id }}">
                                </td>
                                <th>
                                    <a href = "{% url 'rq_job_detail' queue_index job.id %}">
                                        {{ job.id }}
                                    </a>
                                </th>
                                <td>{{ job.created_at|to_localtime }}</td>
                                <td>{{ job.enqueued_at|to_localtime }}</td>
                                <td>{{ job.get_status }}</td>
                                <td>{{ job.func_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="paginator">
                {% for p in page_range %}
                    {% if p == page %}
                        <span class="this-page">{{ p }}</span>
                    {% elif forloop.last %}
                        <a href="?page={{ p }}" class="end">{{ p }}</a>
                    {% else %}
                        <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                {% blocktrans %}{{ num_jobs }} jobs{% endblocktrans %}
            </p>
        </form>
    </div>
</div>

{% endblock %}
