{% extends 'admin/change_form.html' %}

{% load suit_forms jquery_path admin_static i18n %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
.drop-area {
	margin: 50px auto;
	width: 500px;
}
#drop-title {
	width: 100%;
	height: 75pt;
	border: 3px dashed silver;
	color: #d3d3d3;
	text-align: center;
	font-size: 20px;
	line-height: 75pt;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% get_jquery_path as jquery_path %}{% static jquery_path %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    Upload &rsaquo; New Package
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {% trans "Upload New Package" %}
        </div>
        <div class="card-block">
            <form style="display:none;" enctype="multipart/form-data" action="" method="post" id="upload_form" novalidate>
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="ajax" value="false">
                <input type="submit">
            </form>
            <div class="drop-area">
                <div id="drop-title">{% trans "Debian Package (*.deb)" %}</div>
            </div>
        </div>
    </div>
    <script>
    (function($) {
        var isUpload = false;
        var box = document.getElementById('drop-title');
        var finput = document.getElementById("id_package");
        var job_id = "{{ job_id }}";
        var msg = "{{ msg }}";
        var schedule;
        function box_display(msg) {
            box.style.color = "#d3d3d3";
            box.innerText = msg;
        }
        function box_alert(msg) {
            box.style.color = "#5bb0ed";
            box.innerText = msg;
        }
        function job_test() {
            $.ajax({
                url: '',
                type: 'POST',
                dataType: 'json',
                async: false,
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'ajax': true,
                    'job': job_id
                },
                success: function (d) {
                    if (d['result'] == true) {
                        window.clearInterval(schedule);
                        if (d['job']['is_finished'] == true) {
                            if (d['job']['result']['success'] == true) {
                                // Success, jump to version control
                                var version_id = d['job']['result']['version'];
                                window.location.href = '../WEIPDCRM/version/' + version_id + '/change/';
                            } else {
                                box_alert("{% trans 'Exception: ' %}" + d['job']['result']['exception']);
                                isUpload = false;
                            }
                        } else if (d['job']['is_failed'] == true) {
                            box_alert("{% trans 'Service Unavailable: Queue' %}");
                            isUpload = false;
                        }
                    } else {
                        box_alert("{% trans 'Invalid Job' %}");
                        isUpload = false;
                    }
                }
            });
        }
        function ajax_upload(file) {
            isUpload = true;
            var xhr = new XMLHttpRequest();
            xhr.timeout = 3000;
            xhr.responseType = "json";
            xhr.open("POST", "", true);
            var body = new FormData();
            body.append("ajax", true);
            body.append("package", file);
            body.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            xhr.upload.onprogress = function(e) {
                if (e.lengthComputable) {
                    box_display("{% trans 'Uploaded: ' %}" + (e.loaded / e.total * 100) + "%");
                }
            };
            xhr.upload.onerror = function (e) {

            };
            xhr.ontimeout = function(e) {
                box_display("{% trans 'Transfer Timeout' %}");
                isUpload = false;
            };
            xhr.onload = function(e) {
                if (this.status == 200) {
                    if (this.response['status'] == true) {
                        if (this.response['job'] != null) {
                            job_id = this.response['job']['id'];
                            schedule = window.setInterval(job_test, 3000);
                        }
                    } else {
                        isUpload = false;
                    }
                    box_display(this.response['msg']);
                } else {
                    box_alert("{% trans 'Service Unavailable: ' %}" + this.status);
                    isUpload = false;
                }
            };
            xhr.send(body);
        }
        function check_form(file_name) {
            if (file_name.indexOf('.deb') !== file_name.length - 4) {
                box_alert("{% trans 'Only Debian Package (*.deb) is allowed.' %}");
                return false;
            }
            return true;
        }
        function check_upload(file) {
            if (!check_form(file.name)) {
                return false;
            }
            if (typeof FileReader == 'undefined') {
                ajax_upload(file);
            } else {
                try {
                    var reader = new FileReader();
                    var packet = file.slice(0, 7);
                    reader.readAsBinaryString(packet);
                    reader.onload = function(evt) {
                        if (evt.target.readyState == FileReader.DONE) {
                            var magic = evt.target.result; // !<arch>
                            if (magic != "!<arch>") {
                                box_alert("{% trans 'Invalid Debian Package.' %}");
                            } else {
                                ajax_upload(file);
                            }
                        }
                    };
                    reader.onerror = function (evt) {
                        box_alert("{% trans 'Cannot load file as Debian Package.' %}");
                    };
                } catch (e) {}
            }
            return true;
        }
        $(document).on ({
            dragleave: function(e) {
                e.preventDefault();
            },
            drop: function(e) {
                e.preventDefault();
            },
            dragenter: function(e) {
                e.preventDefault();
            },
            dragover: function(e) {
                e.preventDefault();
            }
        });
        box.addEventListener("click", function (e) {
            if (isUpload) {
                return;
            }
            finput.click();
        }, false);
        box.addEventListener("dragenter", function(e) {
            e.preventDefault();
            if (isUpload) {
                return;
            }
            box_display("{% trans 'Drop Here!' %}");
        }, false);
        box.addEventListener("dragleave", function(e) {
            e.preventDefault();
            if (isUpload) {
                return;
            }
            box_display("{% trans 'Debian Package (*.deb)' %}");
        }, false);
        box.addEventListener("drop", function(e) {
            e.preventDefault();
            if (isUpload) {
                return;
            }
            box_display("{% trans 'Debian Package (*.deb)' %}");
            var fileList = e.dataTransfer.files;
            if (fileList.length !== 1) {
                box_alert("{% trans 'Please drop 1 file only.' %}");
                return false;
            }
            check_upload(fileList[0]);
        }, false);
        finput.addEventListener("change", function (e) {
            e.preventDefault();
            if (isUpload) {
                return;
            }
            if (!check_form(finput.value)) {
                return false;
            }
            var uform = document.getElementById("upload_form");
            uform.submit();
        }, false);
        if (msg.length > 0) {
            isUpload = true;
            box_display(msg);
        }
        if (job_id.length > 0) {
            isUpload = true;
            schedule = window.setInterval(job_test, 3000);
        }
    })(django.jQuery);
    </script>
{% endblock %}