a {
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

a:hover {
    color: #19B5FE
}

a:focus {
    outline: 0
}

b {
    font-weight: normal
}

i {
    font-style: normal
}

p {
    margin: 0
}

h1, h2, h4 {
    margin: 0;
    font-weight: normal
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

img {
    border: 0
}

.clear {
    clear: both
}

.main {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    font-family: "Myriad Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    #-webkit-user-select: none;
    -webkit-font-smoothing: antialiased
}

.header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(153, 153, 153, 0.75);
    position: fixed;
    top: 0;
    z-index: 20;
}

.header .nav {
    margin: 0 auto;
    width: 960px;
}

.header a {
    display: block;
    color: #444;
    line-height: 50px
}

.header a:hover {
    text-decoration: none
}

.header .title {
    float: left
}

.header .title h1 {
    margin-right: 25px;
    font-weight: 100;
    font-size: 24px;
    font-family: "Myriad Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .links {
    float: left
}

.header .links li {
    float: left;
    font-size: 13px
}

.header .links li:nth-last-of-type(1) {
    font-family: "Myriad Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px
}

.header .links a {
    margin-top: 2px;
    padding: 0 25px
}

.header .links a:hover {
    color: #222
}

.header .search {
    margin-right: 80px;
    line-height: 50px
}

.header .search .search-btn {
    float: right;
    color: #555;
    display: inline;
    line-height: 50px;
}

.header .search input {
	padding: 2px 5px;
	width: 60%;
    height: 25px;
	outline: 0;
	color: #555;
    border:0;
    font-size: 0.75em
}

.primary {
    margin: 72px auto 0;
    width: 960px
}

.primary .content {
    float: left;
    width: 640px;
    min-height: 320px;
}

.primary .content-list {
    float: left;
    width: 640px;
    min-height: 320px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25)
}
.primary .content .label {
    padding-top: 10px
}

.primary .content .title h2 {
    margin-top: 24px;
    margin-bottom: 36px;
    color: #444;
    text-indent: 34px;
    font-weight: 300;
    font-size: 15px
}

.primary .content .list {

}

.primary .content .list .list-item {
    margin-bottom: 36px;
    padding: 0 36px;
    width: 88px;
    height: 133px;
}

.primary .content .list .list-item .icon {
    width: 88px;
    height: 88px
}

.primary .content .list .list-item .icon a {
    display: block;
    color: #555;
    font-size: 13px
}

.primary .content .list .list-item .icon img {
    width: 88px;
    height: 88px;
    border-radius: 12px
}

.primary .content .list .list-item .title-tag {
    margin-top: 5px;
    height: 60px;
}

.primary .content .list .list-item .title {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-break: normal;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.primary .content .list .list-item .title a {
    color: #444;
    font-size: 14px
}

.primary .content .list .list-item .title a:hover {
    color: #19B5FE
}

.primary .content .list .list-item .tag {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.primary .content .list .list-item .tag a {
    color: #888;
    font-size: 11px
}

.primary .content .breadcrumbs {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25);
}

.primary .content .breadcrumbs p {
    color: #333;
    font-size: 14px
}

.primary .article {
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25)
}

.primary .article h1 {
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 22px
}

.primary .article h2 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 18px;
    padding-top: 18px;
    margin-bottom: 18px;
    color: #474747;
}

.primary .article p {
    color: #333;
    font-size: 13px;
    line-height: 26px
}

.primary .article .icon {
    float: left;
    margin: 10px 30px 21px 0;
    width: 128px;
    height: 128px;
    color: #555;
    font-size: 13px
}

.primary .article .icon img {
    width: 128px;
    height: 128px;
    border-radius: 18px;
}

.primary .article .intro {
    float: left;
    margin: 10px 0 21px;
    width: 420px
}

.primary .article .title {
    margin-bottom: 12px
}

.primary .article .details {
    float: left;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.primary .article .details li {
    width: 150px;
    color: #555;
    font-size: 13px;
    line-height: 31px;
    float: left;
}

.primary .article .details a {
    color: #333
}

.primary .article .details li:nth-last-of-type(1) {
    width: 300px
}

.primary .article .download {
    float: right;
    width: 120px;
    text-align: center
}

.primary .article .download a {
    display: block;
    margin: 19px auto 10px;
    width: 100px;
    border: 1px solid #cce9ff;
    border-radius: 12px;
    color: #2e9fff;
    font-size: 13px;
    line-height: 24px;
    transition: all 200ms ease-in-out
}

.primary .article .download a:hover {
    border: 1px solid #2e9fff;
    background-color: #f5fdff;
    color: #2e87e7;
    text-decoration: none;
    transition: all 200ms ease-in-out
}

.primary .article .download i {
    color: #333;
    font-size: 13px;
    font-weight: 300;
    cursor: text;
    -webkit-user-select: auto
}

.primary .article .description {
    border-top: 1px solid #fdfdfd
}

.primary .article .screenshot {

}
.primary .article .screenshot .image {
    background: #f9f9f9;
	padding: 12px 0;
	width: 100%;
	-webkit-border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px
}

.primary .article .screenshot .image .image-wrapper {
    margin-left:14px;
	margin-right:14px;
	margin-top: 15px;
	width:550px;
	overflow:auto;
	overflow-y:hidden;
}

.primary .article .screenshot .image .image-wrapper::-webkit-scrollbar-track-piece {
    background: #ececec;
    border-radius: 4px;
}

.primary .article .screenshot .image .image-wrapper::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.primary .article .screenshot .image .image-wrapper::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    background: #999;
    border-radius: 4px;
}

.primary .article .screenshot .image .image-wrapper::-webkit-scrollbar-thumb:hover {
    background: #20A4F1;
}

.primary .article .screenshot .image .image-wrapper ul {
    font-size: 0;
    white-space: nowrap;
    word-break: normal;
}

.primary .article .screenshot .image .image-wrapper li {
    display: inline-block;
    padding: 0 22px 15px 4px;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    *padding-bottom: 30px;
}

.primary .article .screenshot .image .image-wrapper li:last-child {
    padding-right: 4px;
}

.primary .article .screenshot .image .image-wrapper img {
    display: block;
    border: 1px solid #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    height: auto;
    max-width: 480px;
    max-height: 572px;
    vertical-align: top;
}

.primary .article .similar-c {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 10px
}

.primary .article .similar ul {
    width: 212%
}

.primary .article .similar li {
    float: left;
    margin-right: 70px
}

.primary .article .similar li:nth-last-of-type(1) {
    margin-right: 0
}

.primary .article .similar img {
    width: 92px;
    height: 92px
}

.primary .article .similar a {
    color: #555;
    font-size: 14px
}

.primary .article .similar h4 {
    overflow: hidden;
    margin-top: 5px;
    width: 92px;
    color: #555;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.primary .content .comments {
    padding: 20px 30px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25);
}

.primary .content .comments h2 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 18px;
    color: #474747;
}

.primary .chart {
    padding: 30px 70px 0;
    min-height: 960px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25)
}

.primary .chart .title h2 {
    color: #444;
    font-weight: 300;
    font-size: 15px
}

.primary .chart .list {
    margin-top: 30px
}

.primary .chart .list li {
    float: left;
    margin-right: 80px;
    margin-bottom: 50px;
    width: 100px
}

.primary .chart .list li:nth-child(5n) {
    margin-right: 0
}

.primary .chart .list .icon {
    width: 100px;
    height: 100px
}

.primary .chart .list .icon a {
    display: block;
    color: #555;
    font-size: 13px
}

.primary .chart .list .icon img {
    width: 100px;
    height: 100px
}

.primary .chart .list .title {
    margin-top: 3px
}

.primary .chart .list .title h4 {
    overflow: hidden;
    color: #555;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.primary .chart .list .title a {
    color: #444;
    font-size: 14px
}

.primary .chart .list .tag {
    text-align: center
}

.primary .chart .list .tag a {
    color: #888;
    font-size: 12px
}

.primary .widget-area {
    float: right;
    width: 300px
}

/* Repo Description Widget Start */
.primary .widget-area .repo-card {
    position: relative;
    padding: 20px 20px 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25);
    margin-bottom: 20px
}

.primary .widget-area .repo-card .avatar-panel {
    position: relative;
    height: 160px;
}

.primary .widget-area .repo-card .repo_pic {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    left: 50%;
    margin: 0 auto;
    border: 4px solid rgba(255, 255, 255, .3)
}

.primary .widget-area .repo-card .repo_pic img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 2px;
    width: 80px;
    height: 80px
}

.primary .widget-area .repo-card .repo_name {
    font-size: 18px;
    display: block;
    bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.primary .widget-area .repo-card .repo_name h2 {
    color: #444;
    font-size: 15px;
    font-weight: 300
}

.primary .widget-area .repo-card .repo_name p {
    margin-top: 10px;
    color: #444;
    font-size: 13px;
    font-weight: 200
}

.primary .widget-area .repo-card .repo_dec {
    text-align: center;
    font-size: 13px;
    padding: 0 15px 10px
}

/* Repo Description Widget End */

.primary .widget-area .section_list {
    padding: 20px 20px 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25);
    margin-bottom: 20px;
}

.primary .widget-area .section_list ul {
    margin-left: 18px;
    margin-top: 36px;
}

.primary .widget-area .section_list li {
    margin-bottom: 16px;
}

.primary .widget-area .section_list h2 {
    color: #444;
    font-weight: 300;
    font-size: 15px
}

.primary .widget-area .section_list i {
    float: left;
    margin-left: -26px;
    width: 20px;
    color: #777;
    text-align: right;
    font-weight: normal;
    font-size: 14px
}

.primary .widget-area .section_list .icon {
    height: 48px
}

.primary .widget-area .section_list .icon img {
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 7px;
}

.primary .widget-area .section_list .list .title {
    margin-left: 12px;
    line-height: 48px;
}

.primary .widget-area .section_list h4 {
    overflow: hidden;
    margin-bottom: 5px;
    color: #444;
    text-overflow: ellipsis;
    white-space: nowrap
}

.primary .widget-area .section_list a {
    color: #444;
    font-size: 13px
}

.primary .widget-area .comments {
    padding: 20px 20px 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.25);
    margin-bottom: 20px;
}

.primary .widget-area .comments .title {
    margin-bottom: 12px
}

.primary .widget-area .comments h2 {
    color: #444;
    font-size: 15px;
    font-weight: 300
}

.primary .widget-area .emergency {
    color: #444;
    font-size: 15px;
    font-weight: 300
}

.similar-c::-webkit-scrollbar {
    height: 6px
}

.similar-c:hover::-webkit-scrollbar {
    background: #fdfdfd
}

.similar-c:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888
}

.page-navi {
    overflow: hidden;
    margin-bottom: 20px
}

.page-navi ul {
    float: right;
    padding-right: 30px
}

.page-navi li {
    float: left;
    padding: 5px
}

.page-navi li a {
    padding: 4px 8px;
    border: 1px solid #eaeaea;
    border-radius: 18px;
    color: #8b8b8b;
    font-size: 12px
}

.page-navi li a:hover {
    border-color: #43aafa;
    color: #43aafa;
    text-decoration: none
}

.page-navi .current span {
    padding: 4px 8px;
    border-radius: 18px;
    background-color: #43aafa;
    color: #fff;
    font-size: 12px
}

.page-navi .pages span {
    padding: 4px 8px;
    border: 1px solid #eaeaea;
    border-radius: 18px;
    color: #8b8b8b;
    font-size: 12px
}

.search-none {
    margin-top: 120px;
    color: #555;
    text-align: center;
    font-size: 15px
}

.m1 {
    margin: 30px auto -30px;
    width: 960px;
    min-height: 10px;
    text-align: center
}

.footer {
    margin: 50px auto 0;
    width: 960px;
    height: 50px;
    border-top: 1px solid #f9f9f9
}

.footer ul li {
    float: left;
    margin-right: 20px;
    color: #555;
    font-size: 14px;
    font-family: "Myriad Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px
}

.footer ul li a {
    color: #555;
    font-size: 13px
}

.ds-comments-tabs {
    display: none !important
}

/* DuoShuo Style */
#ds-thread #ds-reset li.ds-tab a.ds-current {
    border: none !important;
    font-size: 12px !important
}

#ds-thread #ds-reset .ds-header {
    font-weight: normal !important
}

#ds-thread #ds-reset ul.ds-comments-tabs .ds-highlight {
    font-size: 13px !important
}

#ds-thread #ds-reset .ds-login-buttons {
    display: none
}

#ds-reset .ds-avatar img {
    border-radius: 50% !important
}

#ds-thread #ds-reset li.ds-post {
    margin: 8px 0 !important;
    border-top: none !important
}

#ds-thread #ds-reset .ds-comments {
    border-bottom: none !important
}

#ds-thread #ds-reset .ds-sort {
    display: none
}

#ds-thread #ds-reset .ds-user-name {
    font-size: 14px !important
}

#ds-thread #ds-reset .ds-comment-body p {
    cursor: text !important;
    -webkit-user-select: auto !important
}

#ds-thread #ds-reset .ds-textarea-wrapper {
    border: 1px solid #ececec !important;
    border-bottom: none !important;
    background: none !important
}

#ds-thread #ds-reset .ds-post-options {
    border: 1px solid #ececec !important;
    background: #fdfdfd !important
}

#ds-smilies-tooltip ul.ds-smilies-tabs li:nth-child(1) {
    display: none
}

#ds-thread #ds-reset .ds-post-button {
    outline: 0;
    border: none !important;
    background: #00b6e7 none !important;
    color: #fff !important;
    text-shadow: none !important;
    font-weight: normal !important;
    font-size: 12px !important
}

#ds-smilies-tooltip {
    border: 1px solid #ececec !important;
    box-shadow: none !important
}

#ds-wrapper #ds-reset .ds-dialog-inner {
    border: none !important;
    background: #fff !important;
    box-shadow: inset 0 1px 1px #fff, 0 2px 6px rgba(226, 226, 226, 0.4) !important
}

#ds-thread #ds-reset .ds-textarea-wrapper textarea:focus {
    color: #777 !important
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a.ds-current {
    box-shadow: none !important
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a:hover {
    text-decoration: none !important
}

#ds-thread #ds-reset .ds-paginator {
    margin-left: 58px;
    border-bottom: none !important;
    text-align: left !important
}

#ds-thread #ds-reset .ds-paginator a {
    padding: 2px 7px !important
}

#ds-thread #ds-reset .ds-paginator a.ds-current {
    padding: 2px 7px !important;
    border: none !important;
    border-radius: 50% !important;
    background-color: #ff5280 !important;
    color: #fff !important
}

#ds-thread #ds-reset .ds-toolbar {
    padding: 0 !important
}

#ds-thread #ds-reset .ds-paginator a:hover {
    border-radius: 50% !important
}

#ds-thread #ds-reset #ds-hot-posts {
    border: none !important
}

#ds-reset .ds-gradient-bg {
    background: none !important
}

#ds-recent-comments li.ds-comment {
    border-top: none !important
}

#ds-recent-comments li.ds-comment .ds-thread-title a {
    color: #777
}

#ds-recent-comments li.ds-comment a {
    color: #777
}

#ds-recent-comments li.ds-comment .ds-meta {
    margin-bottom: 5px
}

#ds-recent-comments li.ds-comment .ds-avatar img {
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22)
}

#ds-recent-comments li.ds-comment .ds-thread-title {
    line-height: 15px !important
}

#ds-recent-comments li.ds-comment .ds-excerpt {
    color: #222
}
