{% extends "admin/auth/user/change_password.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block content %}<div id="content-main">
<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<p>{% blocktrans with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</p>

<fieldset class="module aligned">

<div class="form-row">
  {{ form.password1.errors }}
  {{ form.password1.label_tag }} {{ form.password1 }}
  {% if form.password1.help_text %}
  <div class="help">{{ form.password1.help_text|safe }}</div>
  {% endif %}
</div>

<div class="form-row">
  {{ form.password2.errors }}
  {{ form.password2.label_tag }} {{ form.password2 }}
</div>

</fieldset>

<div class="submit-row">
<input type="submit" value="{% trans 'Change password' %}" class="default" />
</div>

</div>
</form></div>
{% endblock %}
