{% load i18n staticfiles global_settings %}
{% global_settings %}
<!DOCTYPE html "about:legacy-compat">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ settings.active_release.origin }} | DCRM{% endblock %}</title>
    <!-- TODO: Shortcut Icon -->
    <!-- link rel="shortcut icon" href="/favicon.ico" /-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{% static "mobile/css/style.css" %}"/>
    {% endblock %}
    {% block headerscript %}
        <script type="text/javascript" src="{% static "mobile/js/fastclick.js" %}"></script>
        <script type="text/javascript" src="{% static "mobile/js/style.js" %}"></script>
        <script type="text/javascript">
            if (navigator.userAgent.search(/Cydia/) !== -1) {
                var title = document.title;
                var dot = title.indexOf('·');
                if (dot !== -1)
                    document.title = title.substring(0, dot);
            }
        </script>
        <script type="text/javascript" src="{% static "mobile/js/menes.js" %}"></script>
        <script type="text/javascript" src="{% static "frontend/js/jquery.min.js" %}"></script>
    {% endblock %}
</head>
<body class="pinstripe">
<panel>
    {% block content %}{% endblock %}
    {% block sourceinfo %}
        <label>{% trans "Source Info" %}</label>
        <fieldset class="source">
            <a href="/" class="">
                <img class="icon" src="{{ settings.active_release.icon_link }}">
                <div>
                    <div>
                        <label>
                            <p id="source-name">
                                {{ settings.active_release.origin | default:_("Untitled Origin") }}
                            </p>
                        </label>
                    </div>
                </div>
            </a>
            <div class="source-description" id="source-description">
                <p>
                    {{ settings.active_release.description | default:_("No description.") }}
                </p>
            </div>
        </fieldset>
    {% endblock %}
    {% block footer %}
        <footer id="footer">
            <span id="id">{% block page_name %}{% endblock %}</span>
            <br/>
            <span id="copyright">{% trans "Copyright" %} &copy;
                {% if settings.copyright_name %}
                    {{ settings.copyright_name }}
                {% else %}
                    {{ settings.active_release.origin }}
                {% endif %}
                {% if settings.copyright_year %}
                    {{ settings.copyright_year }} - {% now "Y" %}
                {% else %}
                    {% now "Y" %}
                {% endif %}
                · <a href="https://github.com/82Flex/DCRM">Powered By DCRM</a>
            </span>
            <br/>
            <span id="code">
                {% if settings.footer_icp %}
                    · {{ settings.footer_icp }}</span>
                {% endif %}
        </footer>
    {% endblock %}
</panel>
{% block footerscript %}
<!--TODO: Statstics-->
{% endblock %}
</body>
</html>
