{% extends "mobile/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Contact' %} {{ package_info.c_name }} | DCRM{% endblock %}
{% block content %}
    {% if package_info.author_name and package_info.author_email %}
        <fieldset class="author">
            <div>
                <p>
                    {% trans 'Source manager can <strong>NOT</strong> solve the function problem of package: you <strong>MUST</strong> contact the author.' %}
                </p>
            </div>
            <a href="mailto:{{ package_info.author_email }}?subject=
                    {{ "Cydia/APT(A): "|escape }}{{ package_info.c_name|escape }}{{ " ("|escape }}{{ package_info.c_version }}{{ ")"|escape }}"
               target="_blank">
                <img class="icon" src="{% static "mobile/img/email.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Author" %}</p>
                        </label>
                        <label class="detail">
                            <p>{{ package_info.author_name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    {% if package_info.maintainer_name and package_info.maintainer_email %}
        <fieldset class="maintainer">
            <div>
                <p>
                    {% trans 'If you have questions when install or uninstall this package, please contact the maintainer.' %}
                </p>
            </div>
            <a href="mailto:{{ package_info.maintainer_email }}?subject=
                    {{ "Cydia/APT(A): "|escape }}{{ package_info.c_name|escape }}{{ " ("|escape }}{{ package_info.c_version }}{{ ")"|escape }}"
               target="_blank">
                <img class="icon" src="{% static "mobile/img/email.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Maintainer" %}</p>
                        </label>
                        <label class="detail">
                            <p>{{ package_info.maintainer_name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
    {% if package_info.sponsor_name and package_info.sponsor_site %}
        <fieldset class="sponsor">
            <div>
                <p>
                    {% trans 'If the package is a commercial package, you can contact the sponsor to obtain commercial support.' %}
                </p>
            </div>
            <a href="{{ package_info.sponsor_site }}" target="_blank">
                <img class="icon" src="{% static "mobile/img/safari.png" %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans "Sponsor" %}</p>
                        </label>
                        <label class="detail">
                            <p>{{ package_info.sponsor_name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        </fieldset>
    {% endif %}
{% endblock %}
{% block sourceinfo %}{% endblock %}
{% block page_name %}{{ package_info.c_name }}{% endblock %}
