{% load i18n staticfiles %}
{% if package_list %}
    <fieldset id="grid-list">
        {% for package in package_list %}
            <a href="{% url "package_id" package.id %}">
                {% if package.display_icon %}
                    <img class="icon" src="{{ package.display_icon }}"/>
                {% else %}
                    <!-- TODO: Default Icon -->
                    <img class="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
                {% endif %}
                <div>
                    <div>
                        <label>
                            <p>{{ package.c_name | default:_("Untitled Package") }}</p>
                        </label>
                    </div>
                </div>
            </a>
        {% endfor %}
    </fieldset>
    <fieldset id="loadMore">
    <a href="#" id="loadMore" onclick="loadMore(2)">
            <img class="icon" src="{% static 'mobile/img/more.png' %}">
                <div>
                    <div>
                        <label>
                            <p>{% trans 'Load More' %}</p>
                        </label>
                    </div>
                </div>
            </a>
    </fieldset>
{% endif %}
