{% load staticfiles %}
{% if package_list %}
    <fieldset>
        {% for package in package_list %}
            <a href="{% url "package_id" package.id %}">
                {% if package.display_icon %}
                    <img class="icon" src="{{ package.display_icon }}"/>
                {% else %}
                    <!-- TODO: Default Icon -->
                    <img class="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
                {% endif %}
                <div>
                    <div>
                        <label>
                            <p>{{ package.c_name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        {% endfor %}
    </fieldset>
{% endif %}
