{% extends "mobile/base.html" %}
{% load i18n staticfiles section_list %}
{% block stylesheet %}
    {{ block.super }}
    <style>
        .site-name {
            float: right;
            width: 70%;
            height: 64px;
            vertical-align: middle;
            text-align: center;
            margin-top: 15px;
            display: inline-block;
        }

        .site-icon {
            width: 30%;
            height: 64px;
            display: inline-block
        }
    </style>
{% endblock %}
{% block content %}
    <fieldset>
        <a href="cydia://url/https://cydia.saurik.com/api/share#?source={{ request.scheme }}://{{ site }}"
           target="_blank">
            <img class="icon" src="{% static "mobile/img/cydia.png" %}">
            <div>
                <div>
                    <label>
                        <p>
                            {% trans "Add in Cydia<sup><small>™</small></sup>" %}
                        </p>
                    </label>
                </div>
            </div>
        </a>
    </fieldset>
    <fieldset>
        <div>
            <div class="site-name">
                <span style="font-size: 24px">{{ settings.active_release.origin }}</span>
                <br/>
                <span style="font-size: 18px">
                    <a href="mailto:{{ settings.active_release.email }}">{{ settings.active_release.email }}</a>
                </span>
            </div>
            <div class="site-icon">
                <img class="icon" src="{{ settings.active_release.icon_link }}"
                     style="width:64px; height:100%; vertical-align: top; border-radius: 20%">
            </div>
            <hr>
            <p>
                {% trans "Add this URL via Cydia<sup><small>™</small></sup>" %}<br/>
                <strong><a href="{% url "index" %}">{{ request.scheme }}://{{ site }}</a></strong>
            </p>
        </div>
    </fieldset>
    <block>
        <p>
            {% blocktrans %}<strong>{{ packages_num }}</strong> packages in total{% endblocktrans %}
        </p>
        {% if release_lastest_updated %}
            <p>
                {% trans "Last updated: " %}<strong>{{ release_lastest_updated | date:"Y-m-d H:i:s" }}</strong>
            </p>
        {% endif %}
    </block>
    {% if settings.display_social %}
        <fieldset>
            {% if settings.active_release.email and settings.active_release.origin %}
                <a href="mailto:{{ settings.active_release.email }}?subject={{ settings.active_release.origin }}"
                   target="_blank">
                    <img class="icon" src="{% static "mobile/img/email.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{% trans "Contact Us" %}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.qq_group_name and settings.qq_group_url %}
                <a href="{{ settings.qq_group_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/qq.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{{ settings.qq_group_name }}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.weibo_name and settings.weibo_url %}
                <a href="{{ settings.weibo_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/weibo.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>{{ settings.weibo_name }}</p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if settings.alipay_url %}
                <a href="{{ settings.alipay_url }}" target="_blank">
                    <img class="icon" src="{% static "mobile/img/alipay.png" %}">
                    <div>
                        <div>
                            <label>
                                <p>
                                    {% trans "Donate Via Alipay" %}
                                </p>
                            </label>
                        </div>
                    </div>
                </a>
            {% endif %}
        </fieldset>
    {% endif %}
    {% section_list %}
    <label>{% trans "Section List" %}</label>
    <fieldset>
        {% for section in section_list %}
            <a href="{% url "section_id" section.id %}">
                {% if section.icon %}
                    <!-- TODO: Section Icon  -->
                    <img class="icon" src="{{ section.icon_link }}"/>
                {% else %}
                    <img class="icon" src="{% static 'frontend/img/default-package-icon.png' %}"/>
                {% endif %}
                <div>
                    <div>
                        <label>
                            <p>{{ section.name }}</p>
                        </label>
                    </div>
                </div>
            </a>
        {% endfor %}
    </fieldset>
{% endblock %}
{% block page_name %}{% trans "Home" %}{% endblock %}
