{% extends "mobile/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Section' %} {{ c_section.name }} | DCRM{% endblock %}
{% block content %}
    <label>
        <p>
            {{ c_section.name }}
        </p>
    </label>
    <block>
        <p>
            {% blocktrans %}<strong>{{ packages_num }}</strong> packages in this section.{% endblocktrans %}
        </p>
        <p>
            {% trans "Created at: " %}<strong>{{ c_section.created_at | date:"Y-m-d H:i:s" }}</strong>
        </p>
    </block>
    {% include "mobile/grid-list.html" %}
    <!--TODO: Paginate -->
{% endblock %}
{% block page_name %}{{ c_section.name }}{% endblock %}
