{% extends "mobile/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Section' %} {{ c_section.name }} | DCRM{% endblock %}
{% block content %}
    <label>
        <p>
            {{ c_section.name }}
        </p>
    </label>
    <block>
        <p>
            {% blocktrans %}<strong>{{ packages_num }}</strong> packages in this section.{% endblocktrans %}
        </p>
        <p>
            {% trans "Created at: " %}<strong>{{ c_section.created_at | date:"Y-m-d H:i:s" }}</strong>
        </p>
    </block>
    {% include "mobile/grid-list.html" %}
{% endblock %}
{% block page_name %}{{ c_section.name }}{% endblock %}
{% block footerscript %}
    <script type="text/javascript">
    $(function(){
        var list = $("#grid-list").children();
        var sum = $(list).length;
        if (sum < 24) {
            $("#loadMore").hide();
        }
    });
    function loadMore(offset){
      $.ajax({
        type:"GET",
        url:'{% url 'section_id' c_section.id %}'+'/'+offset,
        dataType:"html",
        success:function(msg){
            var list = $(msg).find("#grid-list").children();
            var sum = $(list).length;
            offset = offset + 1;
            $("#grid-list").append(list);
            $("#loadMore").children("a").attr("onClick", "loadMore(" + offset + ")");
            if (sum < 24) {
                $("#loadMore").hide();
            }
        }
      });
    }
    </script>
{% endblock %}